<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/archive">Archive</a>
    <a class="sidebar-nav-item" href="{{ site.author.homepage}}">About</a>
  </nav>


  <div class="sidebar-item">
    <div class="row">
      <div class="span10 offset1">
        <div class="social-icons">
          <ul>
            {% for contact in site.author.contact %}
            <a href="{{ contact[1] }}">
              <i class="fab fa-{{ contact[0] }}" aria-hidden="true"></i>
            </a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} All rights reserved
    </p>
  </div>


</div>
