/* ==========================================================================
   Made Mistakes Theme
   ========================================================================== */

/* ==========================================================================
   Comments
   ========================================================================== */

.comment {
  font-size: 0.8em;
  margin-bottom: 4em;
  padding-left: 4.5em;
  position: relative;
}

.comment.child {
  margin-left: 4.5em;
}

.comment-timestamp {
  font-size: 0.8em;
}

.comment-timestamp a {
  color: inherit;
  text-decoration: none;
}

.comment-content {
  margin-top: 1em;
}

.comment-content>p,
.comment-content>ul,
.comment-content>ol,
.comment-content>figure,
.comment-content>table {
  margin-bottom: 1.5em;
}

.comment-content ul {
  list-style-type: square;
}

.comment-content li {
  margin-bottom: 0.5em;
}

.comment-content li>ul,
.comment-content li>ol {
  margin-top: 0.5em;
}

.comment-content img {
  max-width: 100%;
}

.comment-content .highlighter-rouge .highlight {
  margin-left: 0;
  margin-right: 0;
}

.comment-content .highlighter-rouge .highlight code {
  font-size: 0.8em;
}

.comment-avatar {
  height: 3.25em;
  left: 0;
  position: absolute;
  top: 0;
  width: 3.25em;
}

.comment-avatar::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='stripe-svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M-1,1 l2,-2 M0,10 l10,-10 M9,11 l2,-2' stroke='%23333' stroke-width='1' /%3E%3C/svg%3E");
  background-size: 5px 5px;
  bottom: 0.5em;
  content: "";
  height: 3.25em;
  position: absolute;
  right: 0.5em;
  width: 3.25em;
  z-index: -1;
}

.comment-author-name {
  display: inline-block;
  font-size: 1.25em;
  line-height: 1;
  margin: 0 0 0.25em;
}

.comment-author-name a {
  color: inherit;
  text-decoration: none;
}

.comment-reply a {
  text-decoration: none;
}

.comment-reply a:hover {
  text-decoration: underline;
}

.comment-reply-notifications {
  margin: 1rem 0;
}

#cancel-comment-reply-link {
  margin-left: 1em;
}

#comment-form {
  margin-bottom: 3em;
}

/* Site author specific */
.admin .comment-author-name {
  box-shadow: inset 0 -0.25em 0 rgba(252, 196, 25, 0.5);
}

/* ==========================================================================
   Forms
   ========================================================================== */
   input,
   label,
   select {
     display: block;
   }

   label {
     font-family: Menlo, Consolas, Monaco, "Courier New", Courier, monospace;
     font-size: 0.8em;
     margin-bottom: 0.5em;
   }

   label.required::after {
     content: "*";
   }

   label abbr {
     display: none;
   }

   input,
   textarea,
   select,
   select[multiple=multiple] {
     background-color: #fff;
     border-color: #d7d8da;
     border-radius: 0.25em;
     border-style: solid;
     border-width: 1px 1px 4px 1px;
     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     margin-bottom: 0.25em;
     padding: 0.75em;
     transition: border-color;
     width: 100%;
   }

   input:hover,
   textarea:hover,
   select:hover,
   select[multiple=multiple]:hover {
     border-color: #c2c2c4;
   }

   input:focus,
   textarea:focus,
   select:focus,
   select[multiple=multiple]:focus {
     border-color: #393e46;
     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(51, 56, 63, 0.7);
     outline: none;
   }

   textarea {
     resize: vertical;
   }

   input[type=search] {
     appearance: none;
   }

   input[type=checkbox],
   input[type=radio] {
     display: inline-block;
     margin-right: 0.5em;
     width: initial;
   }

   input[type=file] {
     width: 100%;
   }

   select {
     max-width: 100%;
     width: auto;
   }

   form button,
   form .button,
   input[type=submit] {
     appearance: none;
     cursor: pointer;
     margin: 1em 0;
     user-select: none;
     vertical-align: middle;
     white-space: nowrap;
   }

   form ul,
   form ol,
   form li {
     list-style-type: none;
     padding-left: 0;
   }

   .form-group {
     margin-bottom: 0.5rem;
   }

   /* required */
   .req,
   .required {
     color: #f03e3e !important;
     font-weight: bold;
   }

   /* instructions */
   .instruct {
     font-size: 0.8em;
     font-style: italic;
   }

/* ==========================================================================
   Navigation
   ========================================================================== */
.menu {
  padding-left: 0;
  list-style: none;
  font-weight: 700;
}

.menu--title {
  font-family: Menlo, Consolas, Monaco, "Courier New", Courier, monospace;
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 1em;
}

.menu a {
  color: inherit;
  text-decoration: none;
}

/*
   Skip links
   ========================================================================== */
.skip-links {
  position: absolute;
  width: 100%;
}

.skip-links ul {
  padding-left: 0;
  list-style: none;
}

/*
   Paginator
   ========================================================================== */
.pager {
  margin: 2rem 0;
}

.pager::after {
  display: block;
  clear: both;
  content: "";
}

.pager .icon {
  fill: #222831;
}

.pager ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-direction: row;
}

.pager ul>li {
  flex: 1;
}

.pager ul li+li {
  margin-top: 0.125em;
  margin-left: 0.125em;
  margin-top: 0;
}

.pager a {
  display: block;
  line-height: 1.5;
  text-decoration: none;
}

.pager a:hover .icon {
  fill: #00638a;
}

.pager a.previous {
  text-align: left;
}

.pager a.next {
  text-align: right;
}

.pager-label,
.pager-title {
  display: block;
}

.pager-label {
  color: #222831;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.pager-title {
  color: #7a7e83;
  font-size: 0.8em;
}

/*
   Breadcrumbs
   ========================================================================== */
.breadcrumbs {
  padding-left: 0;
  list-style: none;
  font-family: Menlo, Consolas, Monaco, "Courier New", Courier, monospace;
  margin-bottom: 1.5rem;
  padding-left: 5vw;
  padding-right: 5vw;
}

.breadcrumbs a {
  color: #222831;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

/*
   Popular List
   ========================================================================== */
.popular-list {
  display: none;
  align-self: flex-start;
  background-color: #222831;
  border-radius: 0.25em;
  color: #fff;
  display: block;
  flex-shrink: 0;
  font-size: 0.8em;
  margin-right: 5vw;
  order: initial;
  padding: 1em;
}

.popular-list .menu {
  margin: 0;
}

/* ==========================================================================
   Sections
   ========================================================================== */

.sections {
  margin-bottom: 2rem;
}

.section {
  background-color: #ebeced;
  margin: 0;
}

.section .inner {
  max-width: 80%;
  padding: 10vh 5vw;
  max-width: 50%;
}

.section .button {
  background-color: #222831;
  color: #fff !important;
}

.section .button:hover {
  background-color: #383e46;
}

.section-text {
  /* remove space after last child element */
  /* text links */
}

.section-text>*:last-child {
  margin-bottom: 0;
}

.section-text a:not(.button) {
  border-bottom: 1px dotted currentColor;
  color: currentColor;
  text-decoration: none;
}

.section-text a:not(.button):hover {
  border-bottom-style: solid;
}

.section:first-of-type .section-title {
  font-size: 26px;
}

@media screen and (min-width: 320px) {
  .section:first-of-type .section-title {
    font-size: calc(26px + 46 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .section:first-of-type .section-title {
    font-size: 72px;
  }
}

.section-title {
  line-height: 1;
  margin-bottom: 1rem;
}

.section-title {
  font-size: 22px;
}

@media screen and (min-width: 320px) {
  .section-title {
    font-size: calc(22px + 38 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 60px;
  }
}

.section-subtitle {
  font-style: italic;
}

.section-subtitle {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .section-subtitle {
    font-size: calc(18px + 10 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  .section-subtitle {
    font-size: 28px;
  }
}

.section-actions {
  padding-left: 0;
  list-style: none;
}

.section-actions li {
  display: inline-block;
}

/*
   Section specific
   ========================================================================== */
.section--inverse {
  background-color: #1d1f23;
  color: #fff;
  position: relative;
}

.section--inverse .inner {
  position: relative;
  z-index: 1;
  /* fix overlap with scrimgradient */
}

.section--inverse .section-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}

.section--inverse .section-image::before {
  background: linear-gradient(to right, #1d1f23 0%, rgba(29, 31, 35, 0.838) 19%, rgba(29, 31, 35, 0.741) 34%, rgba(29, 31, 35, 0.682) 47%, rgba(29, 31, 35, 0.578) 56.5%, rgba(29, 31, 35, 0.494) 65%, rgba(29, 31, 35, 0.326) 73%, rgba(29, 31, 35, 0.175) 80.2%, rgba(29, 31, 35, 0.042) 86.1%, rgba(29, 31, 35, 0.021) 91%, rgba(29, 31, 35, 0.008) 95.2%, rgba(29, 31, 35, 0.002) 98.2%, rgba(29, 31, 35, 0) 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.section--inverse .section-title,
.section--inverse .section-more {
  text-shadow: 1px 1px 1px rgba(29, 31, 35, 0.75);
}

.section--inverse .button {
  background-color: #fff;
  color: #1d1f23 !important;
}

.section--inverse .button:hover {
  background-color: #e8e9e9;
}

.section--about {
  background-color: #15100e;
}

.section--about .section-image::before {
  background: linear-gradient(to right, #15100e 0%, rgba(21, 16, 14, 0.838) 19%, rgba(21, 16, 14, 0.741) 34%, rgba(21, 16, 14, 0.682) 47%, rgba(21, 16, 14, 0.578) 56.5%, rgba(21, 16, 14, 0.494) 65%, rgba(21, 16, 14, 0.326) 73%, rgba(21, 16, 14, 0.175) 80.2%, rgba(21, 16, 14, 0.042) 86.1%, rgba(21, 16, 14, 0.021) 91%, rgba(21, 16, 14, 0.008) 95.2%, rgba(21, 16, 14, 0.002) 98.2%, rgba(21, 16, 14, 0) 100%);
}

.section--about .section-title,
.section--about .section-more {
  text-shadow: 1px 1px 1px rgba(21, 16, 14, 0.75);
}

.section--about .button {
  color: #15100e !important;
}

.section--about .button:hover {
  background-color: #e8e7e7;
}

.section--work {
  background-color: #371232;
}

.section--work .section-image::before {
  background: linear-gradient(to right, #371232 0%, rgba(55, 18, 50, 0.838) 19%, rgba(55, 18, 50, 0.741) 34%, rgba(55, 18, 50, 0.682) 47%, rgba(55, 18, 50, 0.578) 56.5%, rgba(55, 18, 50, 0.494) 65%, rgba(55, 18, 50, 0.326) 73%, rgba(55, 18, 50, 0.175) 80.2%, rgba(55, 18, 50, 0.042) 86.1%, rgba(55, 18, 50, 0.021) 91%, rgba(55, 18, 50, 0.008) 95.2%, rgba(55, 18, 50, 0.002) 98.2%, rgba(55, 18, 50, 0) 100%);
}

.section--work .section-title,
.section--work .section-more {
  text-shadow: 1px 1px 1px rgba(55, 18, 50, 0.75);
}

.section--work .button {
  color: #371232 !important;
}

.section--work .button:hover {
  background-color: #ebe7eb;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.button {
  background-color: #00638a;
  border-radius: 0.25em;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Menlo, Consolas, Monaco, "Courier New", Courier, monospace;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  /* block button fills width of parent container */
  /* for dark backgrounds */
  /* light outline */
  /* information */
  /* warning */
  /* success */
  /* danger */
  /* disabled */
  /* social buttons */
}

.button:hover {
  background-color: #3382a1;
  color: #fff;
}

.button:visited {
  color: #fff;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  background-color: #004f6e;
}

.button .icon {
  margin-right: 0.5em;
}

.button--group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  flex-direction: row;
}

.button--group .button {
  margin-bottom: 0.25em;
}

.button--group .button+.button {
  margin-left: 0.25em;
}

.button--block {
  display: block;
  width: 100%;
}

.button--block+.button--block {
  margin-top: 1rem;
}

.button--inverse {
  background-color: #fff;
  color: #000 !important;
  outline: 0.125em solid #000;
}

.button--inverse:hover {
  background-color: #e6e6e6;
  outline: 0.125em solid #000;
}

.button--light-outline {
  background-color: transparent;
  border: 1px solid #fff !important;
}

.button--info {
  background-color: #1c7cd6;
}

.button--info:hover {
  background-color: #1663ab;
}

.button--warning {
  background-color: #fcc419;
}

.button--warning:hover {
  background-color: #ca9d14;
}

.button--success {
  background-color: #40c057;
}

.button--success:hover {
  background-color: #339a46;
}

.button--danger {
  background-color: #f03e3e;
}

.button--danger:hover {
  background-color: #c03232;
}

.button--disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

.button--facebook {
  background-color: #3b5998;
}

.button--facebook:hover {
  background-color: #2f477a;
}

.button--twitter {
  background-color: #1da1f2;
}

.button--twitter:hover {
  background-color: #1781c2;
}