/*
     Table of contents navigation
     ========================================================================== */

.toc__sidebar{
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: fixed;
    top: 4em;
    left: 1em;
    display: block;
    z-index: 999;

    // &.sticky {
    //   @include clearfix();
    //   position: -webkit-sticky;
    //   position: sticky;
    //   float: right;
    // }
  }
}

.toc__title {
  margin: 0;
  padding: 0.25rem 0.75rem;
  font-size: $type-size-5;
  font-weight: bold;
  color: $gray;
}


.toc__menu {
  font-size: 0.8em;
  overflow: hidden;
  position: relative;
}


.toc__menu > ul {
  counter-reset: section;
  list-style-type: none;
  margin: 0;

  li {
    display: block;

    a {
      color: $gray;
      text-decoration: none;

      &:hover {
        // text-decoration: underline;
      }
    }
  }

  > li {
    counter-increment: section;

    > ul {
      padding-left: 1em;
    }
  }

  ul {
    counter-reset: subsection;
    list-style-type: none;
    margin: 0;

    > li {
      counter-increment: subsection;

      &::before {
        // content: counter(section) "." counter(subsection) ". ";
      }
    }
  }
}